@import "variables.css";

#menu_list {
  article {
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;

    img {
      border-radius: var(--borderRadius);
      width: var(--imgWidth);
      height: var(--imgHeight);
    }

    h2 {
      font-family: var(--fontTitle);
      color: var(--colorBgMain);
      background-color: var(--colorHead);
      text-align: center;
      padding: 0.2rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      border-radius: var(--borderRadius);
    }

    p:last-of-type {
      margin-top: 0.5rem;
      font-weight: bold;
      color: var(--colorBgMain);
      background-color: var(--accentColor);
      max-width: 4.5rem;
      padding: 0.1rem;
      text-align: center;
      border-radius: 0.3rem;
      border: solid 4px var(--colorHeadFoot);
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;

    article {
      display: flex;
      flex-flow: row-reverse nowrap;
      gap: 1rem;
      max-width: 800px;
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-flow: row wrap;
    max-width: calc((var(--cardWidth) * 2) + (1rem * 2));
    margin: auto;

    article {
      width: var(--cardWidth);
    }
  }
}
